<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sem7-internship</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerListProductController</display-name>
    <servlet-name>CustomerListProductController</servlet-name>
    <servlet-class>com.controller.CustomerListProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerListProductController</servlet-name>
    <url-pattern>/CustomerListProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCartController</display-name>
    <servlet-name>ViewCartController</servlet-name>
    <servlet-class>com.controller.ViewCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCartController</servlet-name>
    <url-pattern>/ViewCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartController</display-name>
    <servlet-name>DeleteCartController</servlet-name>
    <servlet-class>com.controller.DeleteCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartController</servlet-name>
    <url-pattern>/DeleteCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutController</display-name>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>com.controller.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/CheckoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrdersController</display-name>
    <servlet-name>MyOrdersController</servlet-name>
    <servlet-class>com.controller.MyOrdersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrdersController</servlet-name>
    <url-pattern>/MyOrdersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrderDetailController</display-name>
    <servlet-name>MyOrderDetailController</servlet-name>
    <servlet-class>com.controller.MyOrderDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderDetailController</servlet-name>
    <url-pattern>/MyOrderDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderController</display-name>
    <servlet-name>CancelOrderController</servlet-name>
    <servlet-class>com.controller.CancelOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderController</servlet-name>
    <url-pattern>/CancelOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerListProductController2</display-name>
    <servlet-name>CustomerListProductController2</servlet-name>
    <servlet-class>com.controller.CustomerListProductController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerListProductController2</servlet-name>
    <url-pattern>/CustomerListProductController2</url-pattern>
  </servlet-mapping>
</web-app>